<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AmicsDeLaMusicaGUI.SpainConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
    <applicationSettings>
        <AmicsDeLaMusicaGUI.SpainConfig>
            <setting name="Domain" serializeAs="String">
                <value>TORRECID</value>
            </setting>
            <setting name="CompanyCode" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="AppName" serializeAs="String">
                <value>AmicsDeLaMusica</value>
            </setting>
            <setting name="TNS_ADMIN" serializeAs="String">
                <value>\\fileserveres\apps\Visual\config\v2\oracle</value>
            </setting>
        </AmicsDeLaMusicaGUI.SpainConfig>
    </applicationSettings>
</configuration>
